// Start of department page
div(data-role='page', id='department-page', data-theme='a')
  include header

  div(data-role='content')

    ul(data-role='listview', data-filter='true', data-inset='true')
      - var titleText = 'Select course'
      if (courses.length === 0)
        titleText = 'No active courses found'
      li(data-role='list-divider') #{titleText}
      each course in courses
        li
          a(href="/course/" + course.id)= course.id.toUpperCase() + ' - ' + course.title
            
  // /content

// End of department page

