// Start of department page
div(data-role='page', id="department-page", data-theme='a')
  include header

  div(data-role='content')

    ul(data-role='listview', data-filter='true', data-inset='true')
      li(data-role='list-divider') Select course
      - each course in courses
        li
          a(href="course/" + course.id)
            span(class='course-id')= course.id.toUpperCase()
            span(class='course-title')= course.title
            
  // /content

// End of department page

