// Start of feedback page
div(data-role='page', id='feedback-page', data-theme='a')

  include header

  div(data-role='content')

    form(id='vote-form', action='', method='post', data-inline='true')
      input(type='hidden', name='votetype')
      a(type='button', class='vote-button vote-button-up', data-inline='true', data-theme='c')
        |#{(exam.votes.up) ? '+' + exam.votes.up : ''}
        img(src='/public/images/thumbup_32.png')
      a(type='button', class='vote-button vote-button-down', data-inline='true', data-theme='d')
        |#{(exam.votes.down) ? '-' + exam.votes.down : ''}
        img(src='/public/images/thumbdn_32.png')

    form(action='', method='post')
      ul(data-role='listview', data-inset='true')
        li(data-role='list-divider') Feedback for exam #{ dateFormat(exam.date, 'dd mmm yy') }
        li: textarea(cols='40', rows='10', name='message', id='message', value='')
        li: input(type='submit', name='submit-feedback', value='Submit')

  // /content

// End of feedback page