div(data-role='header')
  h1
    span(class='aalto-logo')
    span= title
  a(href='/', class='ui-btn-right', data-role='button', data-icon='home', data-iconpos='notext', data-direction='reverse') Home
