// Start of index page
div(data-role='page', id="index-page", data-theme='a')
  include header

  div(data-role='content')
    h2 Welcome to #{title}

    ul(data-role='listview', data-inset='true')
      li(data-role='list-divider') Select organization
      - each organization in organizations
        li
          a(href='/#{organization.id}')= organization.title
            
  // /content

// End of index page
