// Start of index page
div(data-role='page', id='index-page', data-theme='a', data-add-back-btn="true")
  include header

  div(data-role='content')
    h2 Welcome to #{title}
    include search_form

    ul(data-role='listview', data-inset='true')
      li(data-role='list-divider') Select organization
      - each organization in organizations
        li
          a(href='/courses/#{organization.id}')= organization.title
            
  // /content

// End of index page
