// Start of feedback page
div(data-role='page', id='feedback-page', data-theme='a')

  include header

  div(data-role='content')

    form(action='#', method='#')
      ul(data-role='listview', data-inset='true')
        li(data-role='list-divider') Feedback for lecture #{ lecture.number }: #{ lecture.title }
        li: textarea(cols='40', rows='10', name='message', id='message', value='')
        li: input(type='submit', name='submit-feedback', value='Submit')

  // /content

// End of feedback page