div(style="margin-bottom:30px")
    form(id="search-form", action="/search", method="get")
        input(type="text", name="q", id="query", placeholder="Quick course search")
        input(type="submit", value="Go &raquo;")