h1= title
p Welcome to #{title}


// page

div(data-role='page', id="#start-page", data-theme='a')
  div(data-role='header')
    h1
      span(class='aalto-logo')
      = title

  // content

  div(data-role='content')
    p Welcome to #{title}

  // /content

// /page
