body 

.ui-content
  text-align center
  max-width 700px
  margin 0 auto

.course-code
  display inline-block
  width 90px

.aalto-logo 
  display inline-block
  vertical-align -25%
  background url('/images/logos/aaltologos_en_48.png') no-repeat 0 -8px
  margin-right 4px
  width 48px
  height 28px