body 

p
  font-size 1.5em

.ui-content
  text-align center

.aalto-logo 
  display inline-block
  background url('/images/logos/aaltologos_en_48.png') no-repeat 0 -8px
  margin-right 4px
  width 48px
  height 28px