body 

.ui-content
  text-align center
  max-width 700px
  margin 0 auto
  
.aalto-logo 
  display inline-block
  vertical-align -25%
  background url('/public/images/logos/aaltologos_en_48.png') no-repeat 0 -8px
  margin-right 4px
  width 48px
  height 28px

p.feedback
  text-overflow ellipsis
  overflow visible
  white-space normal
  margin-bottom 1em
  margin-top 1em


.feedback-radio .ui-btn
  text-align center
  width 24.5%

.vote-button .ui-btn-text
  font-size 1.5em

.vote-button .ui-btn-text img
  margin-left 5px
  vertical-align bottom

.feedback-header
  color #555
  font-size small
  font-weight bold

.feedback-header .thumb
  height 18px

.feedback-header .thumbs
  position absolute
  top 0
  right 0
  margin 6px

.feedback-header .thumbs span
  font-size 1.1em
  margin-left 4px

.feedback-header .thumbs img 
  vertical-align bottom

.feedback-body
  margin-top 5px
  font-weight normal

.reply
  background rgba(255,255,255,0.4)
  margin-top 7px

.reply .feedback-header
  font-size 0.8em

#dialog-content
  text-align left